p{
    color: red;
}
ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  strong {
    margin-right: 5px;
  }
  
  button.locked {
    background-color: #ff6347; 
    color: white;
  }
  
  button.unlocked {
    background-color: #32cd32;
    color: white;
  }
  