.form-container-login {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 60px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  
 }
 
 .h1-login {
  color: #23a2f6;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
 }
 
 .input-login {
  position: relative;
  margin: 20px 0;
  padding: 15px;
  width: 380px;
  border-radius: 10px;
  border: 1px solid #ccc;
 }
 
 button {
  margin-top: 30px;
  width: 150px;
  background-color: #ffffff;
  color: #080710;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
 }

 .error-message-login {
  color: red;
  font-size: 16px;
  animation: slideInFromTop 0.5s forwards;
  margin-top: 0px;
 }

 
 